<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Suite">

  <test name="Test1">
    <classes>
      <class name="Day_36.pack1.DBTest1"/>
      <class name="Day_36.pack1.DBTest2"/>
      <class name="Day_36.pack1.DBConnect"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test name="Test2">
    <classes>
      <class name="Day_36.pack1.DBTest1"/>
      <class name="Day_36.pack1.DBTest2"/>
      <class name="Day_36.pack1.DBConnect"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
