<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="extentSuite">

<listeners>
			<listener class-name="Day_39_ExtentReports.ExtentReportManagers"/>
</listeners>


  <test thread-count="5" name="ExtentTest">
    <classes>
      <class name="Day_39_ExtentReports.LoginTest"/>
    </classes>
  </test> 
</suite>
